LANGFLOW_URL=http://127.0.0.1:7860
FLOW_ID=your_main_mira_flow_id
LANGFLOW_API_KEY=your_langflow_api_key
ANTHROPIC_API_KEY=your_anthropic_api_key
OPENAI_API_KEY=your_openai_api_key
GOOGLE_SHEETS_API_KEY=your_google_sheets_api_key
SPREADSHEET_ID=your_spreadsheet_id
SHEET_RANGE=Risks_Master!A1:Z1000
CHROMA_PATH=/Users/thomasraju/.langflow/chroma_db
CHROMA_COLLECTION=MIRARAG
EMBEDDING_CACHE_PATH=/Users/thomasraju/.langflow/embedding_cache
ENABLE_LLM_JUDGE=true
ENABLE_RISK_EVALS=true
EVAL_DELAY_SECONDS=2
